.btn {
  width: 25px;
  height: 25px;
  text-align: center;
  float: right;

  position: relative;

  /* flex para alinhar conteúdo*/
  display: flex;
  justify-content: center;
  align-items: center;


  padding: .375rem .75rem;

}

.btn-pesquisa {
  width: 140px;
  height: 38px;
  text-align: center;
  border-radius: 10px;

  position: relative;

  /* flex para alinhar conteúdo*/
  display: flex;
  justify-content: center;
  align-items: center;


  padding: .375rem .75rem;

}

/* .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} */